<navbar></navbar>

<div>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th *ngFor="let dummy of ' '.repeat(7).split(''), let i=index">
        {{dayOfWeekAsString(i)}}
      </th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.fname}} {{user.lname}}</td>
      <td>{{user.role}}</td>
      <td *ngFor="let dummy of ' '.repeat(7).split(''), let i=index">
        <div *ngFor="let availability of user.availability">
          <div *ngIf="availability.weekday === i">
            Available
          </div>
        </div>
      </td>
      <td>
        <a [routerLink]="['/user-edit',user._id]">
          <button class="btn">
            Edit
          </button>
        </a>
      </td>
    </tr>
  </table>
</div>
