<navbar></navbar>
<div>
  <div class="row pb-3 ml-4">
    <a class="col-2" [routerLink]="['/user-edit', '']">
      <button class="btn">Create New User</button>
    </a>
    <h2 class="col-10">Employee Info</h2>
  </div>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th *ngFor="let dummy of ' '.repeat(7).split(''), let i=index">
        {{dayOfWeekAsString(i)}}
      </th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.fname}} {{user.lname}}</td>
      <td>{{user.role}}</td>
      <td *ngFor="let dummy of ' '.repeat(7).split(''), let i=index">
          <div *ngIf="getAvailabilityWeekdaysArr(user.availability).includes(i)">
            Available
          </div>
          <div *ngIf="!getAvailabilityWeekdaysArr(user.availability).includes(i)">
            No
          </div>
      </td>
      <td>
        <a [routerLink]="['/user-edit',user._id]">
          <button class="btn mr-3" ngbTooltip="Edit" tooltipClass="tooltip">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
        </a>
        <a (click)="deleteUser(user._id)">
          <button class="btn" ngbTooltip="Delete" tooltipClass="tooltip">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </a>
      </td>
    </tr>
  </table>
</div>
