<navbar></navbar>
<div>
  <h1 class="text-center">{{user.fname}} {{user.lname}}</h1>
  
  <hr>

  <div class="flex-row">
    <div>
      <label>First Name:</label>
      <input type="text" [(ngModel)]="user.fname">
	  <label>Last Name:</label>
      <input type="text" [(ngModel)]="user.lname">
	  <label>Gender:</label>
	  <select [(ngModel)]="user.gender">
	    <option *ngFor="let gender of genderArr" [value]="gender">
		  {{gender}}
	    </option>
	  </select>
	  <label>Email:</label>
	  <input type="text" [(ngModel)]="user.email">
	  <label>User Role:</label>
	  <select [(ngModel)]="user.role">
		<option *ngFor="let userRole of userRoleArr" [value]="userRole">
		  {{userRole}}
		</option>
	  </select>
	</div>
  </div>
 
 <hr>
  
  <div>
    <label>Shift Types:</label>
    <span>
      <button class="btn" (click)="addShiftType()">Add</button>
      <select [(ngModel)]="tempShiftType">
        <option *ngFor="let shiftType of shiftTypeArr" [value]="shiftType">
          {{shiftType}}
        </option>
      </select>
    </span>
    <div *ngFor="let shiftType of user.shift_types" class="user-edit-list">
      <button class="btn" (click)="removeShiftType(shiftType)">Remove</button>
      {{shiftType}}
    </div>
  </div>
  
  <hr>
  
  <div>
    <label>Availability:</label>
    <span>
      <button class="btn" (click)="addAvailability()">Add</button>
      <select [(ngModel)]="tempWeekday">
        <option *ngFor="let dummy of ' '.repeat(7).split(''), let i=index" [value]="i">
          {{dayOfWeekAsString(i)}}
        </option>
      </select>
        <label>Start Time:</label>
        <input type="time" [(ngModel)]="tempTimeRange[0]">
        <label>End Time:</label>
        <input type="time" [(ngModel)]="tempTimeRange[1]">
    </span>
    <div *ngFor="let availability of user.availability" class="user-edit-list">
      <div *ngFor="let time_range of availability.time_ranges, let timeRangeIndex=index">
        <div *ngIf="time_range[0] != null">
          <button class="btn" (click)="removeAvailability(availability.weekday, timeRangeIndex)">Remove</button>
          {{dayOfWeekAsString(availability.weekday)}}
          Start Time: {{time_range[0]}} End Time: {{time_range[1]}}
        </div>
      </div>
    </div>
  </div>
  
  <br><hr>

  <div>
    <button class="btn save-btn" (click)="saveUser()">Save</button>
  </div>
  
</div>
