body {
  background-color:white;
}

a{
  margin:10px;
  background-color:#E4002B;
  color:rgb(255, 255, 255);
}

.active, .btn-block:hover{
  background-color:black;
  border-color:black;
  color:white;
}

.btn-block{
  margin:10px;
  width:200px;
  font-size:20px;
}

.uga-logo-img{
  height:100px;
  width:160px;
}

h1{
  position:relative;
  display:inline;
  font-size:60px;
  height:70px;
  color: #000000;
}

.title{
  text-align:center;
}
