<div class="row">
  <div class="col-12 title">
    <span>
      <img class="uga-logo-img" src="../../assets/UGA-logo.jpg">
      <h1 class="merriweather align-middle"><b>UGA Golf Course Employee Hub</b></h1>
    </span>
  </div>
</div>

<hr>

<div class="row bar">
  <div class="col-1"></div>
  <div class="col-2">
    <nav>
      <a class="btn btn-block" role="button" [routerLinkActive]="['active']" routerLink = "/schedule">Schedule</a>
    </nav>
  </div>
  <div class="col-2">
    <nav>
      <a class="btn btn-block" role="button" [routerLinkActive]="['active']" routerLink = "/users">Employee Info</a>
    </nav>
  </div>
  <div class="col-2">
    <nav>
      <a class="btn btn-block" role="button" [routerLinkActive]="['active']" routerLink = "/admin-rto-page">Requests</a>
    </nav>
  </div>
  <div class="col-2">
    <nav>
      <a class="btn btn-block" role="button" [routerLinkActive]="['active']" routerLink = "/set-schedule">Generate Schedule</a>
    </nav>
  </div>
  <div class="col-2">
    <nav>
      <a class="btn btn-block" role="button" routerLink="#" (click)="logout()">Logout</a>
    </nav>
  </div>
  <div class="col-1"></div>
</div>

<hr>
