<div class="row">
  <div class="col-12 title">
    <span>
      <img class="uga-logo-img" src="../../assets/UGA-logo.jpg">
      <h1 class="merriweather align-middle"><b>UGA Golf Course Employee Hub</b></h1>
    </span>
  </div>
</div>

<hr>

	<nav class="navbar navbar-expand-sm">
	  <div class="container-fluid">
		  <ul class="nav navbar-nav">
				<li>
				  <button class="btn btn-block" [routerLinkActive]="['active']" routerLink = "/schedule">Schedule</button>
				</li>
				<li>
				  <button class="btn btn-block" [routerLinkActive]="['active']" routerLink = "/users">Employee Info</button>
				</li>
			<!--
			  <div class="col-2">
				<nav>
				  <a class="btn btn-block" role="button" [routerLinkActive]="['active']" routerLink = "/admin-rto-page">Requests</a>
				</nav>
			  </div>
			-->
				<li>
				  <button class="btn btn-block" [routerLinkActive]="['active']" routerLink = "/set-schedule">Generate Schedule</button>
				</li>
				<li>
				  <button class="btn btn-block" routerLink="#" (click)="logout()">Logout</button>
				</li>
		  </ul>
	  </div>
	</nav>
<hr>
