body {
  background-color:white;
}

.uga-logo-img{
  height:25vh;
  width:40vh;
}

h1{
  position:relative;
  display:inline;
  font-size:60px;
  height:70px;
  color: #000000;
}

.title{
  text-align:center;
  padding-right:10%;
}

.bar{
  text-align:center;
  margin:auto;
}

.active{
  background-color:#000000;
  border-color:#000000;
  color:rgb(255,255,255);
}

.btn-block{
  display:inline-block;
  font-size:20px;
}
